.spreadsheet {
  position: relative;
  overflow: visible;
  background: var(--background-color);
  color: var(--text-color);
  display: inline-block;

  table {
    border-collapse: collapse;
    table-layout: fixed;

    // table header cell
    th {
      min-width: 5em;
      min-height: 1.9em;
      height: 1.9em;
      max-height: 1.9em;
      border: 1px solid var(--border-color);
      overflow: hidden;
      word-break: keep-all;
      white-space: nowrap;
      text-align: left;
      box-sizing: border-box;
      user-select: none;

      background: var(--header-background-color);
      text-align: center;
      font: inherit;

      padding: 4px;
      box-sizing: border-box;
    }
  }
}
